.st-table-view {
  .st-header-view {
    text-transform: capitalize;

    border-radius: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;

    &.sc-button-view {
      background-color: #EFEFEF;
      border-bottom: 1px solid #888888;
      border-right: 1px solid #888888;

      &.st-order-by {
        background-color: #EFEFEF;
      }

      &.st-orderable:hover {
        background-color: #FFFFFF;
      }

      img {
        position: absolute;
        width: 9px;
        height: 19px;
        top: 0px;
        right: 5px;
        left: auto;
      }

      &.st-order-by img {
        background-image: sc_static("sort-ascending.png");
      }

      &.st-order-by.st-descending img {
        background-image: sc_static("sort-descending.png");
      }
    }
  }
  > .sc-view:last-child .st-header-view img {
    right: 15px;
  }

  &.st-cursor .sc-list-view.focus .sc-list-item-view.sel .sc-outline:after  {
    position: absolute;
    content: "";
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 0;
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;
  }

  &.st-cursor > .sc-view:first-child .sc-list-view.focus .sc-list-item-view.sel .sc-outline:after  {
    position: absolute;
    content: "";
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 0;
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;
    border-left: 1px dotted white;
  }

  &.st-cursor > .sc-view:last-child .sc-list-view.focus .sc-list-item-view.sel .sc-outline:after  {
    position: absolute;
    content: "";
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 0;
    border-top: 1px dotted white;
    border-right: 1px dotted white;
    border-bottom: 1px dotted white;
  }

  .st-cursor .sc-list-item-view.sel .sc-outline:after {
    position: absolute;
    content: "";
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 0;
    border: 1px dotted white;
  }

  .sc-list-item-view .sc-outline label {
    z-index: 1;  // raise label above the focus ring
  }

  .sc-list-insertion-point {
    left: 0px !important;
    background-color: #888888;
  }

  .st-hide-scroll {
    .sc-scroller-view {
      display: none !important;
    }
    .sc-container-view {
      right: 0px !important;
    }
  }

  .st-hide-disclosure {
    .sc-outline {
      left: 0 !important;
    }
    .sc-list-insertion-point {
      left: 0px !important;
      .anchor {
        display: none !important;
      }
    }
  }
}
